<%= flash_message %>
<% if current_user %>
	<div class="container">
	    <div class="page-header">
	        <h1>
	            Todas tus reuniones 
	        </h1>
	    </div>
	</div>
	<div class="container">
		<div class="row style_features">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones por confirmar </h3>
					</div>
					<div class="panel-body">
						<% @own_next_meetings.each do |meeting| %>
						<div class="row">
							<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
								<% if meeting.part_confirm.nil? %>
									<li class="border-meeting"> Reunión de <%= @user.languages_without_learning %> con fecha <%= meeting.date %> en <%= place.name %>
										<div class="row">
											<div class="col-sm-6">
												<%= button_to 'Ver participantes', user_meeting_path(@user, meeting), class: "btn-meetings-part", :method => :get %>
											</div>
										    <div class="col-sm-6">
										    	<%= button_to 'Eliminar reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
											</div>
										</div>
									</li>
								<% end %>
							<%end%>
						<%end%>
						</div>
						<%end%>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones confirmadas </h3>
					</div>
					<div class="panel-body">
						<% @meetings.each do |meeting| %>
						<div class="row">
							<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
								<% if meeting.part_confirm %>
									<li class="border-meeting"> Reunión de <%= @user.languages_without_learning %> con <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %>
										<div class="row">
											<div class="col-sm-3"></div>
										    <div class="col-sm-6">
										    	<%= button_to 'Eliminar reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger btn-destroy-meeting", method: :delete, data: {confirm: "Are you sure?"} %>
											</div>
											<div class="col-sm-3"></div>
										</div>
									</li>
								<% end %>
							<%end%>
						<%end%>
						</div>
						<%end%>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones ya realizadas </h3>
					</div>
					<div class="panel-body">
						<% @own_meetings_done.each do |meeting| %>
						<div class="row">
							<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
								<% if meeting.part_confirm && (meeting.image_meeting == nil) %>
									<li class="border-meeting"> Reunión de <%= @user.languages_without_learning %> con <%= meeting.part_confirm %> y con fecha <%= meeting.date %> en <%= place.name %>
										<div class="row">
											<div class="col-sm-6">
												<%= button_to 'Subir foto', edit_user_meeting_path(@user, meeting), class: "btn-meetings-photo", :method => :get %></div>
										    <div class="col-sm-6">
										    	<%= button_to 'Eliminar reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
											</div>
										</div>
										<div><%= image_tag meeting.image_meeting_url.to_s, :class => "image-meeting-index" %></div>
									</li>
								<% elsif meeting.part_confirm && (meeting.image_meeting != nil) %>
									<li class="border-meeting"> Reunión de <%= @user.languages_without_learning %> con <%= meeting.part_confirm %> y con fecha <%= meeting.date %> en <%= place.name %>
										<div class="row">
											<div class="col-sm-3"></div>
										    <div class="col-sm-6">
										    	<%= button_to 'Eliminar reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
											</div>
											<div class="col-sm-3"></div>
										</div>
										<div><%= image_tag meeting.image_meeting_url.to_s, :class => "image-meeting-index" %></div>
									</li>
								<% end %>
							<%end%>
						<%end%>
						</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
<% elsif current_place %>
	<div class="container">
	    <div class="page-header">
	        <h1>
	            Todas tus reuniones 
	        </h1>
	    </div>
	</div>
	<div class="container">
		<div class="row style_features">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones confirmadas por hacer </h3>
					</div>
					<div class="panel-body">
						<% @next_meetings_own_place.each do |meeting| %>
						<div class="row">
							<% @users_total.each do |user| %>
								<% if user.id == meeting.user_id %>
									<% @places_total.each do |place| %>
										<% if place.id == meeting.place_id %>
											<% if meeting.part_confirm %>
												<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y <%= meeting.part_confirm %> con fecha <%= meeting.date %>.
												</li>
											<% end %>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones ya realizadas </h3>
					</div>
					<div class="panel-body">
						<% @meetings_own_place_done.each do |meeting| %>
						<div class="row">
							<% @users_total.each do |user| %>
								<% if user.id == meeting.user_id %>
									<% @places_total.each do |place| %>
										<% if place.id == meeting.place_id %>
											<% if meeting.part_confirm %>
												<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y <%= meeting.part_confirm %> con fecha <%= meeting.date %>.
												</li>
											<% end %>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>