<%= flash_message %>
<% if current_user %>
	<div class="container">
	    <div class="page-header">
	        <h1>
	            Todas tus reuniones 
	        </h1>
	    </div>
	</div>
	<div class="container">
		<div class="row style_features">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones por confirmar </h3>
					</div>
					<div class="panel-body">
						<% @own_next_meetings.each do |meeting| %>
						<div class="row">
							<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
								<ul>
									<% if meeting.part_confirm.nil? %>
										<li> Reunión de <%= @user.languages_without_learning %> con fecha <%= meeting.date %> en <%= place.name %></li>
								<div class="row">
									<div class="col-sm-6">
										<%= button_to 'Ver participantes', user_meeting_path(@user, meeting), class: "btn-meetings-part", :method => :get %>
									</div>
								    <div class="col-sm-6">
								    	<%= button_to 'Eliminar la reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
									</div>
								</div>
									<% end %>
								</ul>
							<%end%>
						<%end%>
						</div>
						<%end%>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones confirmadas </h3>
					</div>
					<div class="panel-body">
						<% @meetings.each do |meeting| %>
						<div class="row">
							<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
								<ul>
									<% if meeting.part_confirm %>
										<li> Reunión de <%= @user.languages_without_learning %> con <%= meeting.part_confirm %> y con fecha <%= meeting.date %> en <%= place.name %></li>
										<div class="row">
											<div class="col-sm-3"></div>
										    <div class="col-sm-6">
										    	<%= button_to 'Eliminar la reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
											</div>
											<div class="col-sm-3"></div>
										</div>
									<% end %>
								</ul>
							<%end%>
						<%end%>
						</div>
						<%end%>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones ya realizadas </h3>
					</div>
					<div class="panel-body">
						<% @own_meetings_done.each do |meeting| %>
						<div class="row">
							<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
							<ul>
								<% if meeting.part_confirm %>
									<li> Reunión de <%= @user.languages_without_learning %> con <%= meeting.part_confirm %> y con fecha <%= meeting.date %> en <%= place.name %>
										<div class="row">
											<div class="col-sm-6">
												<%= button_to 'Subir foto del encuentro', edit_user_meeting_path(@user, meeting), class: "btn-meetings-photo", :method => :get %></div>
										    <div class="col-sm-6">
										    	<%= button_to 'Eliminar la reunión', user_meeting_path(@user, meeting), class: "btn-profile btn-lg btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
											</div>
										</div>
									</li>
									<div><%= image_tag meeting.image_url.to_s, :class => "image-container" %></div>
								<% end %>
							</ul>
							<%end%>
						<%end%>
						</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div><%= link_to 'Welcome page', root_path %></div>
	<div><%= link_to 'Back', user_path(@user) %></div>
<% elsif current_place %>
	<div class="container">
	    <div class="page-header">
	        <h1>
	            Todas tus reuniones 
	        </h1>
	    </div>
	</div>
	<div class="container">
		<div class="row style_features">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones confirmadas </h3>
					</div>
					<div class="panel-body">
						<% @meetings_in_my_place.each do |meeting| %>
						<div class="row">
							<% @users_total.each do |user| %>
								<% if user.id == meeting.user_id %>
									<% @places_total.each do |place| %>
										<% if place.id == meeting.place_id %>
										<ul>
											<% if meeting.part_confirm %>
												<li> Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> with <%= meeting.part_confirm %> at <%= meeting.date %></li>
											<% end %>
										</ul>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<div><%= link_to 'Back', place_path(@place) %></div>
<% end %>