<h2> All my meetings </h2>
<ul>

	<% @meetings.each do |meeting| %>

		<li> Meeting of <%= @user.languages_without_learning %> in --- at <%= meeting.date %> with <% meeting.participants.each do |key, value| %>
			<ul>
				<li><%= meeting.participants[key] %><%= meeting.participants[value] %></li>
			</ul>
			<% end %>
		</li>
		<div><%= image_tag meeting.image_url.to_s, :class => "image-container" %></div>
		<div><%= video_tag meeting.video_url.to_s, :controls => true %></div>
		<%= link_to 'Add photo', edit_user_meeting_path(@user, meeting)%>
		<%= link_to 'Add video', add_video_path(@user, meeting)%>
		<%= link_to 'Destroy meeting', user_meeting_path(@user, meeting), method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
</ul>

<%= link_to 'Back', user_path(@user) %>