<% if flash_message %>
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert-msg-fail">
                <%= flash_message %>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
<% end %>
<div class="container">
	<div class="row style_features">
		<div class="col-sm-12">
			<div class="row">
			<% @places_total.each do |place| %>	
				<div class="col-md-3">
					<ul>
						<div><%= link_to (image_tag place.image_place_url.to_s, class: 'image-meeting-place'), place_path(place) %></div>
						<li class="text-description"><%= place.name %></li>
					</ul>
				</div>			
			<%end%>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="page-header">
        <div class="col-md-12">
            <h1>
            	¡Crear una nueva reunión!
            </h1>
        </div>
    </div>
</div>
<div class="container">
	<form class="col-md-2"></form>
	<div class="col-md-8">
	<%= form_for [@user, @meeting], :html => { :multipart => true } do |f| %>
		<% if @meeting.errors.any? %>
		<ul>
			<% @meeting.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
			<% end %>
		</ul>
		<% end %>

		<%= f.collection_select( :place_id, Place.order('name DESC'), :id, :name, {:prompt => 'Escoge un establecimiento'}, class: "form-control input-lg") %>
		<div class="form-group">
			<%= f.datetime_select :date, {}, {:class => "form-control input-lg"} %>
		</div>
    	<div class="form-group">
			<%= f.submit '¡Organizar!', class: "btn btn-primary btn-lg btn-block" %>
    	</div>
    </div>
	<% end %>
	<form class="col-md-2"></form>
</div>