<%= flash_message %>
<div class="container">
	<% if current_user %>
		<% if current_user.id == @meeting.user_id %>
			<% if @meeting.participants.empty? %>
				<form class="col-md-3"></form>
				<div class="col-md-6">
					<div>
						<img class="img-circle img-thumbnail-sad" src="http://cdn.flaticon.com/svg/55/55844.svg">
					</div>
					<h2>AÚN NO SE HA APUNTADO NADIE</h2>
					<div><%= button_to 'Atrás', user_meetings_path(@user), class: "btn btn-lg btn-success btn-not-part", :method => :get %></div>
				</div>
				<form class="col-md-3"></form>
			<% else %>
				<div class="container">
				    <div class="page-header">
				        <div class="col-md-12">
				            <h1>
				            	¡Tu reunión!
				            </h1>
				        </div>
				    </div>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="panel panel-default">
					<%= form_for [current_user, @meeting], :url => url_for(:controller => 'meetings', :action => 'update_parameter'), :html => { :multipart => true, :method => "post" } do |f| %>
						<div class="panel-heading">
							<h3 class="panel-title">Reunión de <%= @user.languages_without_learning %> con fecha <%= @meeting.date %> en <% @places_total.each do |place| %>  
									<% if place.id == @meeting.place_id %>
										<%= place.name %>
									<% end %>
								<% end %> con:
							</h3>
						</div>
						<div class="panel-body">
							<div class="row">
							<% for i in 0..@meeting.participants.length-1 %>
								<div class="col-md-4">
									<li>
										<div>
											<%= image_tag @meeting.participants[i].image_url.to_s, class: "img-circle img-thumbnail" %>
										</div>
										<div class="text-description">
											<strong>Nombre:</strong> <%= @meeting.participants[i].name %>.
										</div>
										<div class="text-description">
											<strong>Nick:</strong> <%= @meeting.participants[i].nick %>.
										</div>
										<%= link_to "Ver usuario", user_path(@meeting.participants[i]), class: "btn btn-small btn-success btn-user-confirm" %>
									</li>
								</div>
							<% end %>
							</div>
							<div class="row">
								<div class="panel panel-default panel-confirm">
									<div class="panel-heading">
										<h3 class="panel-title">Ellos son tus participantes, escoge a uno de ellos ;)</h3>
									</div>
									<div class="panel-body">
										<%= collection_select(:meeting, :part_confirm, @meeting.participants, :name, :name, {:prompt => 'Escoge un usuario'}, class: "form-control input-lg") %>
										<div class="form-group form-confirm">
											<%= f.submit '¡Confirmar!', class: "btn btn-primary btn-lg btn-block" %>
								    	</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-md-2"></div>
			<% end %>
		<% elsif (current_user.id != @meeting.user_id) %>
			<form class="col-md-2"></form>
			<div class="col-md-8">
			<%= form_for [current_user, @meeting], :html => { :multipart => true, :method => "post" } do |f| %>
			    <div class="panel panel-default">
			    	<div class="panel-heading">
			    		<h3 class="panel-title"> Reunión </h3>
			    	</div>
			    	<div class="panel-body">
			    		<div class="text-description">Reunión de <%= @user.languages_without_learning %> organizada por <%= @user.name %> con fecha <%= @meeting.date %> en  <% @places_total.each do |place| %>
								<% if place.id == @meeting.place_id %>
									<%= place.name %>.
								<% end %>
							<% end %>
			    		</div>
					    <div class="form-group">
					    	<% f.text_field :participants, :value => current_user %>
					    </div>
						<div class="form-group">
					    	<%= f.submit '¡Apuntarse!', class: "btn btn-primary btn-lg btn-block" %>
					    </div>
			    	</div>
			    </div>			    
			<% end %>
			</div>
			<form class="col-md-2"></form>
		<% else %>
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"> Reuniones organizadas </h3>
					</div>
					<div class="panel-body">
						<div class="text-description">Reunión de <%= @user.languages_without_learning %> organizada por <%= @user.name %> y <%= @meeting.part_confirm %> con fecha <%= @meeting.date %> en <% @places_total.each do |place| %>
									<% if place.id == @meeting.place_id %>
										<%= place.name %>.
									<% end %>
								<% end %>
						</div>
						<div><%= image_tag @meeting.image_meeting_url.to_s, :class => "image-meeting-done" %></div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		<% end %>
	<% else %>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Reuniones organizadas </h3>
				</div>
				<div class="panel-body">
					<div class="text-description">Reunión de <%= @user.languages_without_learning %> organizada por <%= @user.name %> y <%= @meeting.part_confirm %> con fecha <%= @meeting.date %> en   <% @places_total.each do |place| %>
								<% if place.id == @meeting.place_id %>
									<%= place.name %>.
								<% end %>
							<% end %>
					</div>
					<div><%= image_tag @meeting.image_meeting_url.to_s, :class => "image-meeting-done" %></div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	<% end %>
</div>