<h1>Sign up</h1>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |error_msg| %>
		<li><%= error_msg %></li>
		<% end %>
	</ul>
	<% end %>
	
	<%= f.text_field :name, :placeholder => 'Name' %>
	<br>
	<%= f.text_field :nick, :placeholder => 'Nick' %>
	<br>
	<%= f.email_field :email, :placeholder => 'Email' %>
	<br>
	<%= f.password_field :password, :placeholder => 'Password' %>
	<br>
	<%= f.text_field :city, :placeholder => 'City' %>
	<br>
	<%= f.text_field :age, :placeholder => 'Age' %>
	<br>
	<%= f.text_field :job, :placeholder => 'Job' %>
	<br>
	<%= f.text_field :hobbies, :placeholder => 'Hobbies' %>
	<br>
	<%= f.text_field :languages_learnt, :placeholder => 'Languages learnt' %>
	<br>
	<%= f.text_field :languages_without_learning, :placeholder => 'Languages without learning' %>
	<br>
	<%= f.label :image %>
	<%= f.file_field :image %>
	<br>
	<%= f.submit 'Create an user', class: "btn-submit" %>
<% end %>