
<%= form_for @user, :html => { :multipart => true } do |f| %>
	<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |error_msg| %>
		<li><%= error_msg %></li>
		<% end %>
	</ul>
	<% end %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :nick %>
	<%= f.text_field :nick %>
	<br>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<br>
	<%= f.label :password %>
	<%= f.text_field :password %>
	<br>
	<%= f.label :rating %>
	<%= f.text_field :rating %>
	<br>
	<%= f.label :city %>
	<%= f.text_field :city %>
	<br>
	<%= f.label :age %>
	<%= f.text_field :age %>
	<br>
	<%= f.label :languages_learnt %>
	<%= f.text_field :languages_learnt %>
	<br>
	<%= f.label :languages_without_learning %>
	<%= f.text_field :languages_without_learning %>
	<br>
	<%= f.label :image %>
	<%= f.file_field :image %>
	<br>
	<%= f.submit 'Save' %>
<% end %>