<%= flash_message %>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div>
				<%= image_tag @user.image_url.to_s, :class => "image-big" %>
			</div>
			<div>
				<% @user.calculate_average %> Rating: <%= @user.average_user %>
			</div>
			<% if current_user && current_user.email != @user.email %>
			<div><%= link_to 'New rating', new_user_rating_path(@user) %></div>
			<% end %>
		</div>
		<div class="col-sm-6 perfil">
			<ul class="list">
				<li><p><strong> Name:</strong><%= @user.name %></p></li>
				<li><p><strong> Age:</strong><%= @user.age %></p></li>
				<li><p><strong> Nick:</strong><%= @user.nick %></p></li>
				<li><p><strong> Email:</strong><%= @user.email %></p></li>
				<li><p><strong> City:</strong><%= @user.city %></p></li>
				<li><p><strong> Job:</strong><%= @user.job %></p></li>
				<li><p><strong> Hobbies:</strong><%= @user.hobbies %></p></li>
				<li><p><strong> Languages learnt:</strong><%= @user.languages_learnt %></p></li>
				<li><p><strong> Languages que quiere aprender:</strong><%= @user.languages_without_learning %></p></li>
			</ul>
		</div>
	</div>
	<% if current_user && current_user.email == @user.email %>
	<div><%= link_to 'Edit perfil', edit_user_path(@user) %></div>
	<% end %>
	<% if current_user && current_user.email == @user.email %>
	<div><%= link_to 'New meeting', new_user_meeting_path(@user) %></div>
	<% end %>
	<% if current_user && current_user.email == @user.email %>
	<div><%= link_to 'Own meetings', user_meetings_path(@user) %></div>
	<% end %>
	<div><%= link_to 'Welcome page', root_path %></div>
</div>