<%= flash_message %>
<div class="pb-page-header">
    <div class="container">
        <div class="page-header">
            <h1>
                Novedades 
            </h1>
        </div>
    </div>
</div>
<div class="container">
	<div class="row style_features">
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Últimos usuarios registrados </h3>
				</div>
				<div class="panel-body">
					<% @users.each do |user| %>
					<div class="col-md-6">
						<li><%= link_to (image_tag user.image_url.to_s, class: "image-welcome-user"), user_path(user) %></li>
						<li class="text-description"> Nombre: <%= user.name %>.</li>
						<li class="text-description"> Edad: <%= user.age %> años.</li>
						<li class="text-description"> Idiomas aprendidos: <%= user.languages_learnt %>.</li>
						<li class="text-description"> Idioma que quiere aprender: <%= user.languages_without_learning %>.</li>
					</div>
					<%end%>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Últimos establecimientos registrados </h3>
				</div>
				<div class="panel-body">
					<% @places.each do |place| %>
					<div class="row ">
						<div class="panel panel-default">
							<div class="row padall">
								<div class="welcome-place">
									<%= image_tag place.image_place_url.to_s, class: "image-welcome-place" %>
									<li class="name-place"><%= place.name %></li>
									<% if current_user || (current_place && current_place.id != place.id) %>
									<%= button_to "Ver establecimiento", place_path(place), class: "btn-profile btn-lg btn-info", :method => :get %>
									<% end %>
								</div>
								<div class="welcome-description-place">
									<li> Ciudad: <%= place.city %>.</li>
									<li> Dirección: <%= place.address %></li>
									<li> Horario: <%= place.timetable %>.</li>	
								</div>
							</div>
						</div>
					</div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row style_features">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Próximas reuniones </h3>
				</div>
				<div class="panel-body">
					<% @next_meetings.each do |meeting| %>
					<div class="row">
						<% @users_total.each do |user| %>
							<% if user.id == meeting.user_id %>
							<% @places_total.each do |place| %>
								<% if place.id == meeting.place_id %>
									<% if current_user.nil? && meeting.part_confirm.nil? %>
										<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> con fecha <%= meeting.date %> en <%= place.name %></li>
									<% elsif meeting.part_confirm.nil? %>
										<% if current_user == user %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por ti con fecha <%= meeting.date %> en <%= place.name %></li>
										<% elsif current_user != user %>
										<% user_exist = meeting.participants.select{|user| user.id == current_user.id} %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> con fecha <%= meeting.date %> en <%= place.name %>
											<% if user_exist.blank? %>
												<div><%= button_to "APUNTARSE", user_meeting_path(user, meeting), class: "btn-profile btn-lg btn-success btn-assist", :method => :get %></div>
											<% else %>
												<div class="label-margin">
													<span class="label label-danger">YA ESTAS APUNTADO</span>
												</div>
											<% end %>
											</li>
										<% end %>
									<% end %>
								<%end%>
							<%end%>	
							<%end%>
						<%end%>	
					</div>
					<%end%>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Reuniones confirmadas por el usuario </h3>
				</div>
				<div class="panel-body">
					<% @meetings_confirm.each do |meeting| %>
					<div class="row">
						<% @users_total.each do |user| %>
							<% if user.id == meeting.user_id %>
							<% @places_total.each do |place| %>
								<% if place.id == meeting.place_id %>
									<% if current_user.nil? %>
										<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %></li>
									<% else %>
										<% if current_user == user %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por ti y <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %></li>
										<% elsif (current_user != user) && (current_user.name == meeting.part_confirm) %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y tú, con fecha <%= meeting.date %> en <%= place.name %></li>
										<% elsif (current_user != user) && (current_user.name != meeting.part_confirm) %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %></li>
										<%end%>
									<%end%>
								<%end%>
							<%end%>	
							<%end%>
						<%end%>
					</div>
					<%end%>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Reuniones ya realizadas </h3>
				</div>
				<div class="panel-body">
					<% @meetings_done.each do |meeting| %>
					<div class="row">
						<% @users_total.each do |user| %>
							<% if user.id == meeting.user_id %>
							<% @places_total.each do |place| %>
								<% if place.id == meeting.place_id %>
									<% if meeting.part_confirm != nil %> 
										<% if current_user != user %> 
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %>
											<%= button_to "Ver fotografía", user_meeting_path(user, meeting), class: "btn-profile btn-lg btn-info btn-photo", :method => :get  %></li> 
										<% elsif current_user == user %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por ti y <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %></li>
										<% elsif current_user.nil? %>
											<li class="border-meeting">Reunión de <%= user.languages_without_learning %> organizada por <%= user.name %> y <%= meeting.part_confirm %> con fecha <%= meeting.date %> en <%= place.name %></li>
										<%end%>
									<%end%>
								<%end%>
							<%end%>
							<%end%>
						<%end%>
					</div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
    <div class="page-header">
        <h1>
            Ofertas disponibles en nuestros establecimientos 
        </h1>
    </div>
</div>
<div class="container">
	<div class="row style_features">
		<div class="col-sm-12">
			<div class="row">
			<% @places_total.each do |place| %>	
				<div class="col-md-6">
					<div><%= image_tag place.image_offer_url.to_s, class: 'image-welcome-offer' %></div>
					<li class="text-description"><%= place.name %></li>
					<% if current_place.nil? || current_place.name != place.name %>
						<div class="text-description"><%= button_to "Ver establecimiento", place_path(place), class: "btn-profile btn-lg btn-info", :method => :get %></div>
					<% end %>
				</div>			
			<%end%>
			</div>
		</div>
	</div>
</div>