<div class="container">
	<div class="row">
		<div class="col-sm-12 title">
			<h2> Novedades </h2>
		</div>
	</div>
	<div class="row">
		<div class="row text-titles">
			<div class="col-sm-6 border-titles">
				<h3> Últimos usuarios </h3>
			</div>
			<div class="col-sm-6 border-titles">
				<h3> Últimos establecimientos </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 users">
				<% @users.each do |user| %>
				<div class="row">
					<ul>
						<li><%= link_to (image_tag user.image_url.to_s, class: "image-user"), user_path(user) %></li>
						<ul>
							<li> Name: <%= user.name %>.</li>
							<li> Age: <%= user.age %> years.</li>
							<li> Idiomas que sabe: <%= user.languages_learnt %>.</li>
							<li> Idiomas que quiere aprender: <%= user.languages_without_learning %>.</li>
						</ul>
					</ul>	
				</div>
				<%end%>
			</div>
			<div class="col-sm-6 places">
				<% @places.each do |place| %>
				<div class="row">
					<ul>
						<li><%= place.name %></li>
						<ul>
							<li> Ciudad: <%= place.city %>.</li>
							<li> Dirección: <%= place.address %></li>
							<li> Ofertas: <%= place.offers %>.</li>
							<li> Opiniones de los usuarios: <%= place.opinions %>.</li>
						</ul>
					</ul>
				</div>
				<%end%>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 meetings">
			<% @meetings.each do |meeting| %>
				<div class="row">
				<% @users_total.each do |user| %>
					<% if user.id == meeting.user_id %>
					<ul>
						<li> Meeting of <%= meeting.language %> organized by <%= user.name %> in <%= meeting.address %> at <%= meeting.date %></li>
					</ul>	
					<%end%>
				<%end%>
				</div>
			<%end%>
		</div>
	</div>
</div>
