<%= flash_message %>
<div class="container">
	<div class="row">
		<div class="col-sm-12 title">
			<h2> Novedades </h2>
		</div>
	</div>
	<div class="row">
		<div class="row text-titles">
			<div class="col-sm-6 border-titles">
				<h3> Últimos usuarios </h3>
			</div>
			<div class="col-sm-6 border-titles">
				<h3> Últimos establecimientos </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 users">
				<% @users.each do |user| %>
				<div class="row">
					<ul>
						<li><%= link_to (image_tag user.image_url.to_s, class: "image-user"), user_path(user) %></li>
						<ul>
							<li> Name: <%= user.name %>.</li>
							<li> Age: <%= user.age %> years.</li>
							<li> Idiomas que sabe: <%= user.languages_learnt %>.</li>
							<li> Idiomas que quiere aprender: <%= user.languages_without_learning %>.</li>
						</ul>
					</ul>	
				</div>
				<%end%>
			</div>
			<div class="col-sm-6 places">
				<% @places.each do |place| %>
				<div class="row">
					<ul>
						<li><%= place.name %></li>
							<% if current_place && current_place.id != place.id %>
							<%= link_to "Show place", place_path(place) %>
							<% end %>
						<ul>
							<li> Ciudad: <%= place.city %>.</li>
							<li> Dirección: <%= place.address %></li>
							<li> Horario: <%= place.timetable %>.</li>
						</ul>
					</ul>
				</div>
				<%end%>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row text-titles">
			<div class="col-sm-6 border-titles">
				<h3> Últimas meetings realizadas </h3>
			</div>
			<div class="col-sm-6 border-titles">
				<h3> Próximas meetings </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 meetings-done">
			<% @meetings_done.each do |meeting| %>
				<div class="row">
				<% @users_total.each do |user| %>
					<% if user.id == meeting.user_id %>
					<% @places_total.each do |place| %>
						<% if place.id == meeting.place_id %>
						<ul>
							<% if meeting.part_confirm != nil %> 
								<% if current_user != user %> 
									<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> and <%= meeting.part_confirm %> in <%= place.name %> at <%= meeting.date %></li>
									<%= link_to "Show photos", user_meeting_path(user, meeting) %> 
								<% elsif current_user == user %>
									<li>Meeting of <%= user.languages_without_learning %> organized by you and <%= meeting.part_confirm %> in <%= place.name %> at <%= meeting.date %></li>
								<% elsif current_user.nil? %>
									<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> and <%= meeting.part_confirm %> in <%= place.name %> at <%= meeting.date %></li>
								<%end%>
							<%end%>
						</ul>	
						<%end%>
					<%end%>
					<%end%>
				<%end%>
				</div>
			<%end%>
			</div>
			<div class="col-sm-6 next-meetings">
				<% @next_meetings.each do |meeting| %>
				<div class="row">
					<% @users_total.each do |user| %>
						<% if user.id == meeting.user_id %>
						<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
							<ul>
								<% if current_user.nil? %>
									<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> in <%= place.name %> at <%= meeting.date %></li>
								<% elsif meeting.part_confirm.nil? %>
									<% if current_user == user %>
										<li>Meeting of <%= user.languages_without_learning %> organized by you in <%= place.name %> at <%= meeting.date %></li>
									<% elsif current_user != user %>
									<% user_exist = meeting.participants.select{|user| user.id == current_user.id} %>
										<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> in <%= place.name %> at <%= meeting.date %></li>
										<% if user_exist.blank? %>
											<div><%= link_to "ASSIST", user_meeting_path(user, meeting) %></div>
										<% else %>
											YA ESTAS APUNTADO
										<% end %>
									<% end %>
								<% end %>
							</ul>							
							<%end%>
						<%end%>	
						<%end%>
					<%end%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row text-titles">
			<div class="col-sm-12 border-titles">
				<h3> Meetings confirmadas </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 meetings-confirm">
				<% @meetings_confirm.each do |meeting| %>
				<div class="row list-confirm">
					<% @users_total.each do |user| %>
						<% if user.id == meeting.user_id %>
						<% @places_total.each do |place| %>
							<% if place.id == meeting.place_id %>
							<ul>
								<% if current_user.nil? %>
									<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> and <%= meeting.part_confirm %> in <%= place.name %> at <%= meeting.date %></li>
								<% else %>
									<% if current_user == user %>
										<li>Meeting of <%= user.languages_without_learning %> organized by you and <%= meeting.part_confirm %> in <%= place.name %> at <%= meeting.date %></li>
									<% elsif (current_user != user) && (current_user.name == meeting.part_confirm) %>
										<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> and you in <%= place.name %> at <%= meeting.date %></li>
									<% elsif (current_user != user) && (current_user.name != meeting.part_confirm) %>
										<li>Meeting of <%= user.languages_without_learning %> organized by <%= user.name %> and <%= meeting.part_confirm %> in <%= place.name %> at <%= meeting.date %></li>
									<%end%>
								<%end%>
							</ul>						
							<%end%>
						<%end%>	
						<%end%>
					<%end%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
