<%= flash_message %>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div>
				<%= image_tag @place.image_url.to_s %>
			</div>
		</div>
		<div class="col-sm-6 perfil">
			<ul class="list">
				<li><p><strong> Name:</strong><%= @place.name %></p></li>
				<li><p><strong> Address:</strong><%= @place.address %></p></li>
				<li><p><strong> City:</strong><%= @place.city %></p></li>
				<li><p><strong> Timetable:</strong><%= @place.timetable %></p></li>
				<li><p><strong> Current Offer:</strong><%= @place.offers %></p></li>
				<div><%= image_tag @place.image_offer_url.to_s %></div>
				<% if current_place && current_place.name == @place.name %>
					<div><%= link_to 'Change offer', change_offer_path(@place) %></div>
				<% end %>
			</ul>
		</div>
	</div>
	<% if current_user || current_place %>
	<div><%= link_to 'Ver opiniones de los usuarios', place_opinions_path(@place) %></div>
	<% end %>
	<% if current_place && current_place.name == @place.name %>
	<div><%= link_to 'Edit perfil', edit_place_path(@place) %></div>
	<div><%= link_to 'Meetings organizadas en tu establecimiento', place_meetings_path(@place) %></div>
	<% end %>
</div>
<div><%= link_to 'Welcome page', root_path %></div>